@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1F1F21;
}

/* Base container styling */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Media query for tablets and larger devices (>= 768px) */
@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

/* Media query for desktops and larger devices (>= 1024px) */
@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

/* Media query for large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .container {
    width: 75%;
  }
}